@model IEnumerable<DaySpringApp.DataLayer.Donation>

<!DOCTYPE html>

<html>
<head>
  <meta name="viewport" content="width=device-width" />
  <title>Index</title>
</head>
<body>

  <div class="panel panel-default" style="margin-top: 20px">
    <!-- Default panel contents -->
    <div class="panel-heading">List of donations</div>
    <table class="table">
      <tr>
        <th>
         ID
        </th>
        <th>
          Name
        </th>
        <th>
          @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
          @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
          Address
        </th>
        <th>
          @Html.DisplayNameFor(model => model.PostalCode)
        </th>
        <th>
          @Html.DisplayNameFor(model => model.DonationAmount)
        </th>
        <th>
          @Html.DisplayNameFor(model => model.DonationDate)
        </th>
        <th></th>
      </tr>

      @foreach (var item in Model)
      {
        <tr>
          <td>
            @Html.DisplayFor(modelItem => item.IdNumber)
          </td>
          <td>
            @Html.DisplayFor(modelItem => item.LastName), @Html.DisplayFor(modelItem => item.FirstName)
          </td>
          <td>
            @Html.DisplayFor(modelItem => item.Email)
          </td>
          <td>
            @Html.DisplayFor(modelItem => item.Phone)
          </td>
          <td>
            @Html.DisplayFor(modelItem => item.AddressLine1)<br />
            @Html.DisplayFor(modelItem => item.AddressLine2)<br />
            @Html.DisplayFor(modelItem => item.AddressLine3)
          </td>
          <td>
            @Html.DisplayFor(modelItem => item.PostalCode)
          </td>
          <td>
            @Html.DisplayFor(modelItem => item.DonationAmount)
          </td>
          <td>
            @Html.DisplayFor(modelItem => item.DonationDate)
          </td>
        </tr>
      }

    </table>
  </div>
</body>
</html>
